{
    "presets": [
        "minify",
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}
